In [35]:
import pandas as pd
df = pd.read_csv('./results.csv', header=[0,1])

df.columns = pd.MultiIndex.from_tuples(df.columns)
display(df)
print(
    df.style.hide(axis="index").highlight_max(props='font-weight: bold', axis=0).to_latex(convert_css=True, hrules=True, multicol_align="c", column_format = 'l' + 'c'*(1+len(df.columns.levels[1])))
)

           Model         IT                   NEWS
               -       BLEU       COMET       BLEU     COMET
0           Base  38.31±5.7   81.9±14.5  29.23±7.7  83.4±7.7
1     FT w/ PARA  38.92±4.9   82.5±14.5   28.6±7.3  82.7±6.4
2       FT w/ BT  41.83±5.6    84.0±7.1  27.11±7.2  82.0±8.4
3  FT w/ PARA+BT  39.88±6.2  86.12±10.3  26.66±7.2  82.2±8.4

\begin{tabular}{lcccc}
\toprule
Model & \multicolumn{2}{c}{IT} & \multicolumn{2}{c}{NEWS} \\
- & BLEU & COMET & BLEU & COMET \\
\midrule
Base & 38.31±5.7 & 81.9±14.5 & \bfseries 29.23±7.7 & \bfseries 83.4±7.7 \\
FT w/ PARA & 38.92±4.9 & 82.5±14.5 & 28.6±7.3 & 82.7±6.4 \\
FT w/ BT & \bfseries 41.83±5.6 & 84.0±7.1 & 27.11±7.2 & 82.0±8.4 \\
\bfseries FT w/ PARA+BT & 39.88±6.2 & \bfseries 86.12±10.3 & 26.66±7.2 & 82.2±8.4 \\
\bottomrule
\end{tabular}