In [1]:
import pandas as pd

df = pd.read_csv("./results.csv", header=[0, 1])

df.columns = pd.MultiIndex.from_tuples(df.columns)
display(df)


def add_clines_to_latex(latex_str):
    lines = latex_str.split("\n")
    for i, line in enumerate(lines):
        if line.strip().startswith("\multirow"):
            lines.insert(i + 2, "\cline{2-" + str(len(df.columns.levels[1]) + 1) + "}")
            break
    return "\n".join(lines)


latex_str = (
    df.style.hide(axis="index")
    .highlight_max(props="font-weight: bold", axis=0)
    .to_latex(
        convert_css=True,
        hrules=True,
        multicol_align="c",
        column_format="l" + "c" * (1 + len(df.columns.levels[1])),
    )
    .replace("±", r"\small $\pm$")
)
print(add_clines_to_latex(latex_str))

            Model         IT                   NEWS
                -       BLEU       COMET       BLEU      COMET
0        Baseline  38.31±5.7   81.9±14.5  29.23±7.7   83.4±7.7
1      FT w/ PARA  38.92±4.9   82.5±14.5   28.6±7.3   82.7±6.4
2        FT w/ BT  41.83±5.6    84.0±7.1  27.11±7.2   82.0±8.4
3   FT w/ PARA+BT  39.88±6.2  86.12±10.3  26.66±7.2   82.2±8.4
4    w/ 1 iter BT  38.65±6.9  85.69±13.2  27.31±7.2  82.34±8.2
5        w/ DeepL  38.34±6.7  85.53±13.3  27.31±7.2  82.42±8.1

\begin{tabular}{lcccc}
\toprule
Model & \multicolumn{2}{c}{IT} & \multicolumn{2}{c}{NEWS} \\
- & BLEU & COMET & BLEU & COMET \\
\midrule
Baseline & 38.31\small $\pm$5.7 & 81.9\small $\pm$14.5 & \bfseries 29.23\small $\pm$7.7 & \bfseries 83.4\small $\pm$7.7 \\
FT w/ PARA & 38.92\small $\pm$4.9 & 82.5\small $\pm$14.5 & 28.6\small $\pm$7.3 & 82.7\small $\pm$6.4 \\
FT w/ BT & \bfseries 41.83\small $\pm$5.6 & 84.0\small $\pm$7.1 & 27.11\small $\pm$7.2 & 82.0\small $\pm$8.4 \\
\bfseries FT w/ PARA+BT & 39.88\small $\pm$6.2 & \bfseries 86.12\small $\pm$10.3 & 26.66\small $\pm$7.2 & 82.2\small $\pm$8.4 \\
  w/ 1 iter BT & 38.65\small $\pm$6.9 & 85.69\small $\pm$13.2 & 27.31\small $\pm$7.2 & 82.34\small $\pm$8.2 \\
  w/ DeepL & 38.34\small $\pm$6.7 & 85.53\small $\pm$13.3 & 27.31\small $\pm$7.2 & 82.42\small $\pm$8.1 \\
\bottomrule
\end{tabular}